.announcement {
    background: #eee;
    padding: 10px;
    h1 {
        text-align: center;
    }
    .read-more {
        margin: 0 auto;
        display: block;
        text-align: center;
    }
}